ol {
    font-weight: bold;
}

img {
    height: 500px;
    width: 750px;
}

.red_light {
    color: red;
}

.green_light {
    color: green;
}

.show-page-buttons {
    display: inline;
}

/* This is supposed to style the dropdown in the center of the window,
    it is currently not working. */
#choose_dropdown {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}
