<!-- templates/requirements_index.html -->
{% extends "base.html" %}

{% block content %}
<h1>Welcome to Compliance Tracker!</h1>
<h2>We will help you keep track of the regulations you must meet to get your car approved.</h2>

<!-- Upload a NEW document -->
<form action="/submissions/form_tracker">
    <button type="create">Upload my Forms NOW!</button>
</form>

<!-- User has option to see their ZIP -->
<h4>Ready for your ZIP folder?</h4>
<form action="/submission/download_zip" method="GET">
    <input type="submit" value="Download Here!"/>
</form>
<ol>
<!--list all requirements, with a file upload button-->
    {% for requirement in requirements %}
    <li>
        <h3>{{ requirement.name }}</h3>
        <h4>{{ requirement.description }}</h4>
        <!--LINK to see one REQUIREMENT-->
        <form action="/submissions/{{ requirement._id }}">
            <input type="submit" value="More Options"/>
        </form>
    </li>
    {% endfor %}
</ol>

<br>

<!-- Link back to project selection page (root directory)-->
<form action="/" method="GET">
    <input type="submit" value="Back to Compliance Hub"/>
</form>

{% endblock %}
