<!-- templates/requirement_show.html-->
{% extends "base.html" %}

{% block content %}
<h3>{{ requirement.name }}</h3>
<h4>{{ requirement.description }}</h4>
    <!-- Show status in red in green based on value-->
    {% if requirement.num_submitted >= requirement.num_required %}
        <div class="green_light">
            <p>Current Status: FULFILLED</p>
        </div>
    {% else  %}
        <div class="red_light">
            <p>Current Status: UNFULFILLED</p>
        </div>
    {% endif %}
<p>Required No. of Forms: {{ requirement.num_required }}</p>
<img src="{{ requirement.image }}"/>
<!-- LIST all DOCUMENTS RELATED to this REQUIREMENT-->
<p>Here are the Documents We Have From You So Far:</p>
<ol>
    {% for document in documents %}
        {% if document.requirement == requirement.name %}
            <li>{{ document.file_name }}</li>
        {% endif %}
    {% endfor %}<br>
<div class="show-page-buttons">
    <!-- Upload a NEW document -->
        <form action="/submissions/form_tracker">
            <input type="submit" value="Upload More Forms"/>
        </form><br>
    <!-- EDIT documents for this requirement -->
        <form action="/submissions/{{ requirement._id }}/edit">
            <input type="submit" value="Replace Forms">
        </form><br>
    <!-- DESTORY all DOCUMENTS associated with this Requiremnt -->
    <form action="/submissions/{{ requirement._id }}/delete" method="POST">
        <input type="submit" value="Delete Forms">
    </form><br>
    <!-- Link back to REQUIREMENTS_INDEX (show all)-->
        <form action="{{ url_for('show_requirements') }}">
            <input type="submit" value="Back to Home"/>
        </form>
</div><br><br>
{% endblock %}
