<!-- templates/submission_edit.html -->
{% extends "base.html" %}

{% block content %}
<h1>Change Your Files Here!</h1>
<!-- links to the page of the requirement this submission is for -->
<form action="/submissions/{{ document._id }}/upload">
    <!--Selects the document this document is replacing -->
    <p>Select the name of the document you are replacing:
    <select name="document">
        {% for document in documents %}
            {% if document.requirement == requirement.name %}
                <option value="{{ document._id }}">{{ document.file_name }}</option>
            {% endif %}
        {% endfor %}
    </select><br><br>

    <input type="submit" value="Re-upload My Files"/>
</form>
<!-- Link back to REQUIREMENTS_INDEX (show one)-->
<form action="{{ url_for('show_requirements') }}">
    <input type="submit" value="Back to Home"/>
</form>
<br><br>
{% endblock %}
