<!-- templates/submission_edit.html -->
{% extends "base.html" %}

{% block content %}
<h1>Change Your Files Here!</h1>
<!-- links to the page of the requirement this submission is for -->
<!-- EDIT documents for this requirement -->
    <form action="{{ url_for('submission_update') }}">
        <!--Selects the document this document is replacing-->
        <p>Want to change a form? Enter the name of the document you are replacing:</p>
        <select name="document" id="document">
            {% for document in documents %}
                {% if document.requirement == requirement.name %}
                    <option value="{{ document._id }}">{{ document.file_name }}</option>
                {% endif %}
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Replace Forms"><br><br>
    </form>

<!-- Link back to REQUIREMENTS_INDEX (show all)-->
<form action="{{ url_for('show_requirements') }}">
    <input type="submit" value="Back to Home"/>
</form>
<br><br>
{% endblock %}
