<!-- templates/submission_new.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Upload Your Files Below!</h1>
    <!-- form field implemented using this tutorial: https://www.tutorialspoint.com/flask/flask_file_uploading.htm -->
    <!-- links to the page of the requirement this submission is for -->
    <form action="{{ url_for('form_new') }}" method="POST" enctype="multipart/form-data">
        <!--Uploads files-->
        Select files:
        <input type="file" name="userFile" multiple/><br>

        <!--Selects the requirement this document is for-->
        <p>Enter the requirement this form is required for:
        <select name="requirement">
            {% for requirement in requirements %}
                <option value="{{ requirement.name }}">{{ requirement.name }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Upload"/>
    </form>
    <!-- Link back to REQUIREMENTS_INDEX (show one)-->
    <form action="{{ url_for('show_requirements') }}">
        <input type="submit" value="Back to Home"/>
    </form>
    <br><br>

{% endblock %}
